{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pdfchat/css/style.css' %} ">
    <title>GPT - File Conversations</title>
</head>

<body>
    <nav id="sidebar">
        <div class="sidebar-controls">
            <button class="new-chat">New chat</button>
            <button class="hide-sidebar">x</button>
        </div>
        <ul class="conversations">
            <li class="grouping">Today</li>
            <li class="active">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>

            <li class="conversation">
                <button>This is a conversation titleaaskdjfhfklasjfhskajhfaskdjfhaskjfhsakdj</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="grouping">Yesterday</li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>

            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>

            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="grouping">Previous 7 days</li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
            <li class="conversation">
                <button>This is a conversation title</button>
                <div class="edit-buttons">
                    <button>E</button>
                    <button>D</button>
                </div>
            </li>
        </ul>
        <div class="user-menu">
            <button>
                <i class="user-icon">u</i>
                unconv
                <i class="dots"></i>
            </button>
        </div>
    </nav>
    <main>

    </main>
    <script src="{% static 'pdfchat/js/script.js' %}"></script>
</body>

</html>